@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

body {
  font-family: "Source Sans 3", sans-serif;
}

.partner-radius {
  -webkit-border-top-right-radius: 200px;
  -webkit-border-bottom-left-radius: 200px;
  -moz-border-radius-topright: 200px;
  -moz-border-radius-bottomleft: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
}

.partner-radius-sm {
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
