@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

body {
  font-family: "Source Sans 3", sans-serif;
}

.partner-radius {
  -webkit-border-top-right-radius: 200px;
  -webkit-border-bottom-left-radius: 200px;
  -moz-border-radius-topright: 200px;
  -moz-border-radius-bottomleft: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
}

.solutions-radius {
  -webkit-border-top-left-radius: 300px;
  -webkit-border-bottom-right-radius: 300px;
  -moz-border-radius-topleft: 300px;
  -moz-border-radius-bottomright: 300px;
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
}

.technology-radius {
  -webkit-border-top-left-radius: 130px;
  -webkit-border-bottom-right-radius: 130px;
  -moz-border-radius-topleft: 130px;
  -moz-border-radius-bottomright: 130px;
  border-top-left-radius: 130px;
  border-bottom-right-radius: 130px;
}
